* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(123, 202, 255);
}

.title {
    color: white;
    text-align: center;
}

.card {
    height: 140px;
    width: 120px;
    background-color: white;
    border-radius: 8px;
    float: left;
    margin: 30px;
}

.card {
    background-image: url(img/pattern.png);
    background-size: contain;
}

.foot {
    text-align:center
}
